@import url("tailwindcss");
@import url("tailwindcss-primeui");

@theme {
  --font-sans: "Abel", sans-serif;
}

/* Стиль для всех черных кнопок */
.p-button.p-button-contrast,
.p-button.bg-black,
button.bg-black,
button[class*="bg-black"],
.p-button[severity="contrast"] {
  font-family: 'ABeeZee', sans-serif !important;
  font-weight: 400 !important;
  font-style: italic !important;
  font-size: 14px !important;
  line-height: 24px !important;
  letter-spacing: 0 !important;
  text-align: center !important;
}

/* Стиль для всех белых кнопок */
.p-button.p-button-outlined,
.p-button.bg-white,
button.bg-white,
button[class*="bg-white"],
.p-button[outlined] {
  font-family: 'ABeeZee', sans-serif !important;
  font-weight: 400 !important;
  font-style: italic !important;
  font-size: 16px !important;
  line-height: 24px !important;
  letter-spacing: 0 !important;
  text-align: center !important;
}
